{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

<h1> Mon compte </h1>

<h3> Bienvenue {{app.user.firstname}} sur votre espace personnel </h3>

<a href="{{ path('app_password')}}"> Modifier mon mdp </a>
{% endblock %}
