{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}

    <h1 class="text-center"> Changement de mot de passe <h1>

    {% if notification %}    
        <div class="alert alert-info"> {{notification }} </div>
    {% endif %}

    {{ form(form)}}

    <a href="{{ path('app_account')}}"> Revenir à mon compte </a>
{% endblock %}
