@import "~bootstrap/scss/bootstrap";

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}

form{
    margin-left: 3rem;
    margin-right: 3rem;
}

.label_style{
    margin-bottom: 3rem;
}